#main-header {
  height: 80px;
  background-color: blue;
}
.cony {
  background-color:blue;
  bottom: 0%;
}
.form-con{
  justify-content: center;
  height: 3rem;
  grid-template-columns: 1fr 0.2fr;
  display: grid;
}
.navi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, blue, white, red);
}
  nav ul li{
    text-decoration: none;
    margin: 5px;
    list-style: none;
    display: flex;
    
}
body {
  background-color: steelblue;
}
form input{
align-content: center;
align-items: center;
justify-content: center;
margin-bottom: 0vh;
width: 100px;
border-radius: 500px;
padding: 10px;
color: red;
}
#hero-img{
  width: auto;
  height: auto;
}
button {
  color: red;
  height: 40px;
width: 60px;
border-radius: 30px;
background-color: palegreen;
}